## Data Preprocessing

In [1]:
import numpy as np
import pandas as pd
from dotenv import load_dotenv
import os

load_dotenv() # load variables from .env file

True

In [2]:
df = pd.read_csv('bus_data.csv')

In [3]:
df.head()

,bus_route,bus_route_link,bus_name,bus_type,departing_time,duration,reaching_time,star_rating,price,seats_available
0,Udaipur to Jodhpur,https://www.redbus.in/bus-tickets/udaipur-to-j...,RSRTC - 194381,Deluxe AC Seater 2+2,06:00,05h 15m,11:15,3.3,527.0,33 Seats available
1,Udaipur to Jodhpur,https://www.redbus.in/bus-tickets/udaipur-to-j...,RSRTC - 146395,Express Non AC Seater 2+3,06:45,07h 15m,14:00,2.3,299.0,42 Seats available
2,Udaipur to Jodhpur,https://www.redbus.in/bus-tickets/udaipur-to-j...,RSRTC - 194422,Deluxe AC Seater 2+2,07:15,05h 00m,12:15,3.0,531.0,22 Seats available
3,Udaipur to Jodhpur,https://www.redbus.in/bus-tickets/udaipur-to-j...,RSRTC - 194255,Express Non AC Seater 2+3,07:45,06h 35m,14:20,5.0,299.0,46 Seats available
4,Udaipur to Jodhpur,https://www.redbus.in/bus-tickets/udaipur-to-j...,RSRTC - 174533,Express Non AC Seater 2+3,08:45,07h 15m,16:00,4.6,299.0,42 Seats available

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12058 entries, 0 to 12057
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   bus_route        12058 non-null  object
 1   bus_route_link   12058 non-null  object
 2   bus_name         11886 non-null  object
 3   bus_type         11872 non-null  object
 4   departing_time   11886 non-null  object
 5   duration         11886 non-null  object
 6   reaching_time    11886 non-null  object
 7   star_rating      11778 non-null  object
 8   price            11886 non-null  float64
 9   seats_available  11875 non-null  object
dtypes: float64(1), object(9)
memory usage: 942.2+ KB

In [5]:
df[df['bus_type'].isna()]

,bus_route,bus_route_link,bus_name,bus_type,departing_time,duration,reaching_time,star_rating,price,seats_available
6820,Kanpur (Uttar Pradesh) to Bareilly,https://www.redbus.in/bus-tickets/kanpur-to-ba...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6821,Kanpur (Uttar Pradesh) to Bareilly,https://www.redbus.in/bus-tickets/kanpur-to-ba...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6822,Kanpur (Uttar Pradesh) to Bareilly,https://www.redbus.in/bus-tickets/kanpur-to-ba...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6823,Kanpur (Uttar Pradesh) to Bareilly,https://www.redbus.in/bus-tickets/kanpur-to-ba...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6832,Delhi to Pilibhit,https://www.redbus.in/bus-tickets/delhi-to-pil...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
11861,Delhi to Palampur,https://www.redbus.in/bus-tickets/delhi-to-pal...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11862,Delhi to Palampur,https://www.redbus.in/bus-tickets/delhi-to-pal...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11863,Delhi to Palampur,https://www.redbus.in/bus-tickets/delhi-to-pal...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11864,Delhi to Palampur,https://www.redbus.in/bus-tickets/delhi-to-pal...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11865,Delhi to Palampur,https://www.redbus.in/bus-tickets/delhi-to-pal...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = df.dropna(subset=['bus_type'])

In [7]:
df[df['star_rating'].isna()]

,bus_route,bus_route_link,bus_name,bus_type,departing_time,duration,reaching_time,star_rating,price,seats_available
153,Jodhpur to Ajmer,https://www.redbus.in/bus-tickets/jodhpur-to-a...,Jakhar Travels,A/C Seater / Sleeper (2+1),23:39,04h 51m,04:30,NaN,900.00,11 Seats available
337,Beawar (Rajasthan) to Jaipur (Rajasthan),https://www.redbus.in/bus-tickets/beawer-to-ja...,NTC Travels,A/C Seater / Sleeper (2+1),23:36,03h 30m,03:06,NaN,1425.00,36 Seats available
338,Beawar (Rajasthan) to Jaipur (Rajasthan),https://www.redbus.in/bus-tickets/beawer-to-ja...,Mahaveer Travel Company,A/C Seater / Sleeper (2+1),23:45,03h 45m,03:30,NaN,1500.00,32 Seats available
339,Beawar (Rajasthan) to Jaipur (Rajasthan),https://www.redbus.in/bus-tickets/beawer-to-ja...,Suraj Travel And Cargo Services,Bharat Benz A/C Seater /Sleeper (2+1),23:55,02h 50m,02:45,NaN,809.52,27 Seats available
340,Beawar (Rajasthan) to Jaipur (Rajasthan),https://www.redbus.in/bus-tickets/beawer-to-ja...,Surya Trans India,A/C Sleeper (2+1),01:45,00h 15m,02:00,NaN,3200.00,26 Seats available
...,...,...,...,...,...,...,...,...,...,...
11243,Chandigarh to Pathankot,https://www.redbus.in/bus-tickets/chandigarh-t...,Big Bus,Volvo A/C Semi Sleeper (2+2),14:30,04h 30m,19:00,NaN,1599.00,41 Seats available
11244,Chandigarh to Pathankot,https://www.redbus.in/bus-tickets/chandigarh-t...,SWAGATAM TOUR HOLIDAY,A/C Sleeper (2+2),23:59,04h 26m,04:25,NaN,1359.00,42 Seats available
11354,Pathankot to Chandigarh,https://www.redbus.in/bus-tickets/pathankot-to...,Travel Point,A/C Seater / Sleeper (2+2),22:00,04h 15m,02:15,NaN,951.43,50 Seats available
11355,Pathankot to Chandigarh,https://www.redbus.in/bus-tickets/pathankot-to...,Just kailash,A/C Seater / Sleeper (2+2),23:55,05h 05m,05:00,NaN,499.00,46 Seats available
11356,Pathankot to Chandigarh,https://www.redbus.in/bus-tickets/pathankot-to...,SWAGATAM TOUR HOLIDAY,Volvo A/C Multi-Axle Semi Sleeper (2+2),23:20,03h 25m,02:45,NaN,1439.00,49 Seats available

In [8]:
df['star_rating'] = pd.to_numeric(df['star_rating'].replace('New', '0'), errors='coerce')
df['star_rating'] = df['star_rating'].fillna(round(df['star_rating'].mean(), 1)).astype(float)

In [9]:
df['seats_available'] = df['seats_available'].str.extract('(\d+)').astype(int)

In [10]:
df

,bus_route,bus_route_link,bus_name,bus_type,departing_time,duration,reaching_time,star_rating,price,seats_available
0,Udaipur to Jodhpur,https://www.redbus.in/bus-tickets/udaipur-to-j...,RSRTC - 194381,Deluxe AC Seater 2+2,06:00,05h 15m,11:15,3.3,527.0,33
1,Udaipur to Jodhpur,https://www.redbus.in/bus-tickets/udaipur-to-j...,RSRTC - 146395,Express Non AC Seater 2+3,06:45,07h 15m,14:00,2.3,299.0,42
2,Udaipur to Jodhpur,https://www.redbus.in/bus-tickets/udaipur-to-j...,RSRTC - 194422,Deluxe AC Seater 2+2,07:15,05h 00m,12:15,3.0,531.0,22
3,Udaipur to Jodhpur,https://www.redbus.in/bus-tickets/udaipur-to-j...,RSRTC - 194255,Express Non AC Seater 2+3,07:45,06h 35m,14:20,5.0,299.0,46
4,Udaipur to Jodhpur,https://www.redbus.in/bus-tickets/udaipur-to-j...,RSRTC - 174533,Express Non AC Seater 2+3,08:45,07h 15m,16:00,4.6,299.0,42
...,...,...,...,...,...,...,...,...,...,...
12053,Guwahati to Manja (assam),https://www.redbus.in/bus-tickets/guwahati-to-...,Kareng Travels,A/C Seater (2+1),09:30,06h 15m,15:45,3.4,400.0,5
12054,Guwahati to Manja (assam),https://www.redbus.in/bus-tickets/guwahati-to-...,Kareng Travels,Non AC Seater (2+2),11:45,06h 15m,18:00,3.9,360.0,45
12055,Hamren to Diphu,https://www.redbus.in/bus-tickets/hamren-to-diphu,KAAC TRANSPORT - 175491,Non AC Seater (2+2),05:30,04h 50m,10:20,3.5,246.0,41
12056,Hamren to Diphu,https://www.redbus.in/bus-tickets/hamren-to-diphu,KAAC TRANSPORT - 157443,Non AC Seater 2+2,11:45,06h 15m,18:00,2.5,300.0,41
12057,Guwahati to Hamren,https://www.redbus.in/bus-tickets/guwahati-to-...,KAAC TRANSPORT - 157357,Non AC Seater (2+2),12:00,06h 00m,18:00,5.0,254.0,42

In [11]:
df[df.duplicated()]

,bus_route,bus_route_link,bus_name,bus_type,departing_time,duration,reaching_time,star_rating,price,seats_available
957,Udaipur to Jodhpur,https://www.redbus.in/bus-tickets/udaipur-to-j...,RSRTC - 194381,Deluxe AC Seater 2+2,06:00,05h 15m,11:15,3.3,527.0,33
958,Udaipur to Jodhpur,https://www.redbus.in/bus-tickets/udaipur-to-j...,RSRTC - 146395,Express Non AC Seater 2+3,06:45,07h 15m,14:00,2.3,299.0,42
959,Udaipur to Jodhpur,https://www.redbus.in/bus-tickets/udaipur-to-j...,RSRTC - 194422,Deluxe AC Seater 2+2,07:15,05h 00m,12:15,3.0,531.0,22
960,Udaipur to Jodhpur,https://www.redbus.in/bus-tickets/udaipur-to-j...,RSRTC - 194255,Express Non AC Seater 2+3,07:45,06h 35m,14:20,5.0,299.0,46
961,Udaipur to Jodhpur,https://www.redbus.in/bus-tickets/udaipur-to-j...,RSRTC - 174533,Express Non AC Seater 2+3,08:45,07h 15m,16:00,4.6,299.0,42
...,...,...,...,...,...,...,...,...,...,...
11731,Shimla to Chandigarh,https://www.redbus.in/bus-tickets/shimla-to-ch...,HRTC - 158,Ordinary 3+2 Non AC Seater,09:05,03h 55m,13:00,5.0,242.0,37
11732,Shimla to Chandigarh,https://www.redbus.in/bus-tickets/shimla-to-ch...,HRTC - 109,A/C Executive (2+3),09:12,04h 28m,13:40,4.4,257.0,36
11753,Dharamshala (Himachal Pradesh) to Chandigarh,https://www.redbus.in/bus-tickets/dharamshala-...,HRTC - 906,Ordinary 3+2 Non AC Seater,04:00,08h 15m,12:15,5.0,459.0,37
11754,Dharamshala (Himachal Pradesh) to Chandigarh,https://www.redbus.in/bus-tickets/dharamshala-...,HRTC - 906,Ordinary 3+2 Non AC Seater,05:00,07h 15m,12:15,4.4,437.0,35
11755,Dharamshala (Himachal Pradesh) to Chandigarh,https://www.redbus.in/bus-tickets/dharamshala-...,HRTC - 110,Himsuta AC Seater Volvo/Scania 2+2,05:40,09h 00m,14:40,2.0,820.0,33

In [12]:
df = df.drop_duplicates()

In [13]:
df.to_csv('final_bus_data.csv', index=False)

## Import data into MySQL Database

In [14]:
import pymysql

In [15]:
mysql_username = os.getenv("MYSQL_USER")
mysql_password = os.getenv('MYSQL_PASSWORD')
mysql_host = os.getenv("MYSQL_HOST")
mysql_port = os.getenv("MYSQL_PORT")

In [16]:
conn = pymysql.connect(
    host=mysql_host,
    user=mysql_username,
    password=mysql_password,
)
cursor = conn.cursor()

# create database if not exists
database_name = 'redbus_database'
cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")
conn.commit()

# use created or already exists database
cursor.execute(f"USE {database_name}")

0

In [17]:
# create table if it's not exists 
create_table_query = '''
CREATE TABLE IF NOT EXISTS redbus_data (
    id INT AUTO_INCREMENT PRIMARY KEY,
    route_name TEXT,
    route_link TEXT,
    busname TEXT,
    bustype TEXT,
    departing_time TIME,
    duration TEXT,
    reaching_time TIME,
    star_rating FLOAT,
    price DECIMAL(10, 2),
    seats_available INT
);
'''
cursor.execute(create_table_query)
conn.commit()

In [18]:
# insert data into database
insert_query = '''
INSERT INTO redbus_data (route_name, route_link, busname, bustype, departing_time, 
                             duration, reaching_time, star_rating, price, seats_available) 
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
'''
data = df.values.tolist()
cursor.executemany(insert_query, data)
conn.commit()

print('Successfully inserted data into database')

Successfully inserted data into database